.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
body{
	margin: 0px;
	padding:0px;
	
}
.menu{
	margin-top:30px ;
	text-align: center;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.menu ul{
	background: blue;
	font-size: 20px;
	text-align: center;
	height: 50px;
}
.menu li{
   display:list-item;
   display: inline-block;
   float: left;
   text-indent: 100px;
   text-decoration: none;
} 
.menu a{
	color: #000;
	text-decoration: none;
	line-height: 50px;
	display: inline-block;
	transition:text-indent .6s;
	position: relative;
	z-index: 1;
}
.menu li a:first-child{
	border-left: solid 1px rgba(0, 0, 0, 0.2);
}
.menu li:hover a{
	color: #fff;
	text-indent: 50px;
}
.menu li::before{
	content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    width: 24px;
    height: 24px;
    font-family: FontAwesome;
    font-size: 24px;
    color: #fff;
    transform: scale(0);
    transition:all .6s;
}
.menu li:after{
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	top: 10px;
	bottom: 2px;
	box-shadow: 0px 0px 10px 0 rgba(0,0,0,.4);
	z-index: -1;
	transition:all .6s;
}
.menu li:hover::after{
   	box-shadow: 0px 8px 10px 0 rgba(0,0,0,.6);
}